*{
	box-sizing: border-box;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

body {
	margin: 0;

}

ul li {
	display: inline;
	margin-top: 50px;
}

ul, h1 {
	margin-top: 30px;
}

#header {
	margin-bottom: 0;
	height: 100px;
	width: 100%;
	background-color: #060606;
	color: white;
}

#name {
	
	float: left;
	padding: 0;
	text-align: center;
	height: 0%;
	margin-left: 40px;
}

#links {
	
	color: black;
	float: right;
	height: 100%;
	text-align: center;
	margin-right: 350px;
	width: 20%;
}


.wrap {
	background-color: #F6F3F3;
	margin-top: 0;
	margin-bottom: 20px;
	height: 600px;
	width: 100%;
	min-height: 100%;
  	/* equal to footer height */
  	margin-bottom: -142px; 
}

.wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 60px; 
}
.site-footer {
  background: #7A7777;
}

#content {
	width: 50%;
	float: left;
	background-color: #ffffff;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 25px;
	padding: 0 20px 0 20px;
}

#connect {
	width: 20%;
	background-color: #ffffff;
	float: left;
	margin-top: 20px;
	margin-left: 87px;
	text-align: center;
}

#Philipp {
	width: 230px;
	height: 145px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.ConnectPic {
	height: 50px;
	width: 50px;
}

footer {
	clear:left;
	text-align: center;
	padding-top: 15px;
	color: white;
}


label, input {
	display: block;
}
